@import './mixins';

// Here you put all global css rules.

body {
  margin: 0;
  padding: 0;
  font-family: Bookerly;
  font-size: 16px;
  color: rgb(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafbfb;
  font-weight: 400;
  outline: 0;
}
.displaycenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  outline: none;
}
